body {
    background-color: #FEFCFF;
	/*max-width: 48em;*/

    font-family: sans-serif;
    font-size: 1.125em;
    color: #2C3539;
    font-weight: 100;
    line-height: 1.8em;
}



h1 {
    font-size: 2.5em;
    color: #382F2B;
    font-variant: small-caps;
}

h2 {
    font-size: 1.875em;
    color: #382F2B;
    font-variant: small-caps;
}

h3 {
    font-size: 1.5em;
    color: #382F2B;
    font-variant: small-caps;
}


p.border {
    border-style: solid;
    padding: 1em;
	border-color: #2B65EC;
}


td {
	vertical-align: text-top;
}


figure {
        display: table;
        text-align: center;
        /* optional: border */

        padding: 10px;
}

figcaption {
        display: block;
        font-size: 0.85em;
}

aside {
		font-size: 0.4em;
}

/*
div {
    background-color: #E3E4FA;
    width: 560px;
    padding: 1em;
    border: 0px solid navy;
    margin: 5px;
}
*/

.definition {
	background-color: #E3E4FA;

	padding: 1.5em;
}

.beispiel {
    font-size: 0.9em;
}

.centered {

	max-width: 48em;
	margin-left: auto ;
	margin-right: auto ;
}

/* Modifier for HighDPI-Devices */
/* TODO: check if the selection rule does not break rendering */
/*       on non mobile devices				      		      */
/* ---------------------------------------------------------- */
/*                                                            */
/* A media query that captures:                               */
/*                                                            */
/* - Retina iOS devices                                       */
/* - Retina Macs running Safari                               */
/* - High DPI Windows PCs running IE 8 and above              */
/* - Low DPI Windows PCs running IE, zoomed in                */
/* - Low DPI Windows PCs and Macs running Firefox, zoomed in  */
/* - Android hdpi devices and above                           */
/* - Android tvdpi devices, including Google Nexus 7          */
/* - Chrome running on high DPI Macs and PCs                  */
/* - Opera running on high DPI Macs, PCs and mobile devices   */
/*                                                            */
/* Please note that that this code assumes you'll swap a      */
/* 2× version of your images. If you'd like to supply         */
/* finer increments, other thresholds might be appropriate.   */
/*                                                            */
/* A test for CSS pixel densites can be found here:           */
/* http://bjango.com/articles/min-device-pixel-ratio/         */
/*                                                            */
/*                                  @marcedwards from @bjango */
/*                                                            */
/* ---------------------------------------------------------- */
@media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi)
	{
    		tex {
        		font-size: 1.8em !important;
    		}
	}


/* unvisited link */
a:link {
    color: #1A0DAB;
    text-decoration: none;
}
/* visited link */
a:visited {
	text-decoration: none;
}
/* mouse over link */
a:hover {
    text-decoration: underline;
}
/* selected link */
a:active {
    color: yellow;
    text-decoration: none;
}


/* ein bisschen kommentar*/
#fb-root {
    width: 100%;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff6600;

}





